input:not([type]), input {
  color: var(--text-color);
  background: transparent;
  border: 2px solid var(--border-color);
  padding: 3px 5px;
  line-height: 24px;
  outline: 0;
  box-sizing: border-box;

  /* -moz-appearance: textfield;
  appearance: textfield; */

  &:focus {
    border-color: var(--border-darker-color);
  }

  &:invalid {
    border: 2px solid #cc383f;
  }
}

.btn {
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: color 150ms ease-out, background-color 150ms ease-out, border-color 150ms ease-out;

  &.btn-outline {
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid var(--border-color);

    &:hover {
      border-color: var(--border-darker-color);
    }
  }

  &:active {
    transform: scale(0.98);
  }
}
