.control {
  input:not([type]), input[type="text"] {
    color: var(--text-color);
    background: transparent;
    border: 2px solid var(--border-color);
    padding: 3px 5px;
    line-height: 21px;
    outline: 0;
    box-sizing: border-box;

    &:focus {
      border-color: var(--border-darker-color);
    }
  }

}
