input:not([type]),
input {
  color: var(--text-color);
  background: var(--bg-color);
  border: 2px solid var(--border-color);
  padding: 3px 5px;
  line-height: 24px;
  outline: 0;
  box-sizing: border-box;

  &:focus {
    border-color: var(--border-dark-color);
  }

  &:invalid {
    border: 2px solid #cc383f;
  }

  &::placeholder {
    font-style: italic;
    font-family: monospace;
  }
}

textarea {
  padding: 15px;
  color: var(--text-color);
  background: var(--bg-color);
  border: 2px solid var(--border-color);

  &:focus {
    outline: 2px solid var(--border-dark-color);
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.5;
  transition:
    color 150ms ease-out,
    background-color 150ms ease-out,
    border-color 150ms ease-out;

  &.btn-primary {
    background-color: var(--color-primary);
    color: var(--text-color);
    border: 0;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: var(--color-primary-stronger);
    }
  }

  &.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--text-color);
    border: 0;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: var(--color-secondary-stronger);
    }
  }

  &.btn-outline {
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid var(--border-color);

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      border-color: var(--border-darker-color);
    }
  }

  &:active:not(:disabled) {
    transform: translateY(1px);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
